<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:title" content="{{item}}">
    <meta property="og:description" content="Randomly picked item from the list of {{listSize}} {{listName}}">
    <meta property="og:type" content="website">
    <title>Collective Nouns | Raro.io</title>
</head>
<body>
{{item}}
</body>
</html>